body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

#add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: .65;
    transition: 1s;
}

#add-task-btn:hover{
    opacity: 1;
    background-color: #02bd08;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

#task-list li:last-child {
    border-bottom: none;
}